.contacts__inner {
  margin-bottom: 30px;
}
.contacts__list {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    @media (max-width: 480px) {
      width: 170px;
    }
    a {
      display: flex;
      gap: 10px;
      text-decoration: none;
      align-items: center;
      padding: 7px;
      overflow: hidden;
      border-radius: 6px;
      background: var(--bgNeo);
      box-shadow: var(--shadow);
      @media (max-width: 480px) {
        justify-content: space-between;
      }
      &:hover {
        box-shadow: var(--shadowHover);
      }
      img {
        display: block;
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
  }
}
