:root {
  --light: #ddd4d4cc;
  --dark: #242121;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--light);
  color: var(--dark);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body.dark {
  background-color: var(--dark);
  color: var(--light);
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
